:root {
  --md-admonition-icon--links: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 0 0 1.06 1.06l1.25-1.25a2 2 0 1 1 2.83 2.83l-2.5 2.5a2 2 0 0 1-2.83 0 .75.75 0 0 0-1.06 1.06 3.5 3.5 0 0 0 4.95 0l2.5-2.5a3.5 3.5 0 0 0-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 0 1 0-2.83l2.5-2.5a2 2 0 0 1 2.83 0 .75.75 0 0 0 1.06-1.06 3.5 3.5 0 0 0-4.95 0l-2.5 2.5a3.5 3.5 0 0 0 4.95 4.95l1.25-1.25a.75.75 0 0 0-1.06-1.06l-1.25 1.25a2 2 0 0 1-2.83 0z"></path></svg>')
}
.md-typeset .admonition.links,
.md-typeset details.links {
  border-color: var(--md-accent-fg-color);
}
.md-typeset .links > .admonition-title,
.md-typeset .links > summary {
  background-color: rgba(0,0,0,0);
}
.md-typeset .links > .admonition-title::before,
.md-typeset .links > summary::before {
  background-color: var(--md-accent-fg-color);
  -webkit-mask-image: var(--md-admonition-icon--links);
          mask-image: var(--md-admonition-icon--links);
}

.md-typeset .admonition.block,
.md-typeset details.block {
  border-left: 0;
}
.md-typeset .block > .admonition-title::before,
.md-typeset .block > .admonition-title {
  display: none;
}
.md-typeset .block > summary,
.md-typeset .block > summary::before {
  border-left: 0;
  background-color: rgb(0, 0, 0);
  
}

